<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mina kurser - kurser</title>
</head>

<body>

    <!--Header/Navbar-->
    <header id="main-header">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/form">Formulär</a></li>
                    <li class="active"><a href="/about">Om</a></li>
                </ul>
            </nav>
    </header>
<main>
    <div class="courselist">
        <div class="om-text">
 <h2>Om uppgiften</h2>
 <p>Denna webbplats har skapats inom ramen för kursen DT207G - Backendbaserad webbutveckling som ges vid Mittuniversitetet. 
Webbplatsen är utvecklad på serversidan och är kopplad till en databas skapad i postegreSQL via Render. Syftet med webbplatsen är att användare ska
kunna lagra de kurser de har läst genom att fylla i formuläret på "formulärsidan". Inputen lagras då i databasen och skrivs ut till startsidan. 
De dependencies som är installerade för projektet är dotenv, express, ejs och pg.</p>
<br><br>

<h2>Slutsatser</h2>
 <p>Det har helt klart varit en utmaning att sätta sig in i serverbaserad webbutveckling och det kommer nog ta ett tag innan jag känner att
    jag behärskar det. Det svåraste har varit att förstå hur data skickas från servern till EJS-filerna, samtidigt som det varit väldigt
    klurigt att skriva JavaScript-kod i EJS-filerna. Det har dock även varit roligt att få ta mina nyförvärvade databaskunskaper vidare genom
    att koppla ihop en databas med en webbsida. Jag ser fram emot att lära mig mer!
 </p>
</div>

    </div>

</main>

</body>

</html>