<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mina kurser - formul채r</title>
</head>

<body>

    <!--Header/Navbar-->
    <header id="main-header">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Startsida</a></li>
                    <li class="active"><a href="/form">Formul채r</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
    </header>
<main>
    <div class="courselist">
        <h2>L채gg till kurs</h2>

        <form method="post">
            <label for="coursecode">Kurskod:</label>
            <input type="text" id="coursecode" name="coursecode">
            <br>
            <label for="coursename">Kursnamn:</label>
            <input type="text" id="coursename" name="coursename">
            <br>
            <label for="syllabus">Kursplan:</label>
            <input type="text" id="syllabus" name="syllabus">
            <br>
            <label for="progression">Progression:</label>
            <input type="text" id="progression" name="progression">
            <br>
            <input type="submit" value="L채gg till ny kurs">
        </form>

    </div>

</main>

</body>

</html>
