<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mina kurser - kurser</title>
</head>

<body>

    <!--Header/Navbar-->
    <header id="main-header">
        <div class="container">
            <nav>
                <ul>
                    <li  class="active"><a href="/">Startsida</a></li>
                    <li><a href="/form">Formulär</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
    </header>
<main>
    <div class="courselist">
        <h2>Min kurslista</h2>
        <% courses.forEach((course)=> {%>
            <article class="course">
                <p class="coursecode"><%= course.coursecode %></p>
                <p class="coursename"><%= course.coursename %></p>
                <a class="syllabus" href="<%= course.syllabus %>">Kursplan</a>
                <p class="progression"><%= course.progression %></p>
            </article>
            <%}) %>

    </div>

</main>

</body>

</html>