*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color:#001d39;
    min-height: 100vh;
    min-width: 100vw;
    padding: 2em 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
position: relative;
z-index: 10;
width: 100%;
}

ul {
    background-color: rgb(0, 29, 57);
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items:last baseline;
  min-height: 4em;
  max-width: 50em;
  margin: 0 auto;
}

li {
  display: inline-block;
  width: 7em;
  height: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#707579;
  margin-right: 1px;
}

li a {
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1em 1.5em;
}

li:hover,
.active {
    background-color: aliceblue;
  }

  .active a {
    color: #000000;
  }

  li:hover a {
   color: #000000;
  }


.courselist {
    background-color: aliceblue;
    max-width: 50em;
    margin: 0 auto;
    padding: 2em 1em;
    height: 600px;
    overflow-y: scroll;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courselist h2 {
    text-align: center;
    margin-bottom: 30px;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color:#707579;
    border-radius: 10px;
}

.course {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    max-width: 45em;
    width: 100%;
    margin: 5px auto;
    padding: 1em 0;
    border: 3px solid #a2a2a2;
    border-radius: 20px;
}


.coursecode {
    max-width: 10em;
    width: 100%;
    text-align: center;
}

.coursename {
    max-width: 20em;
    width: 100%;
}

.syllabus {
    max-width: 10em;
    width: 100%;
    text-align: center;
}

.progression {
    max-width: 5em;
    width: 100%;
    text-align: center;
}

/*Formulär*/

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

input {
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    height: 2em;
    padding: 0 1em;
}

input[type=submit] {
    max-width: 15em;
    background-color: #001d39;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {

    background-color: #052544;

}